In [69]:
import pandas as pd

funcionarios_df = pd.read_csv('CadastroFuncionarios.csv', sep=';', decimal=',')
clientes_df = pd.read_csv('CadastroClientes.csv', sep=';')
servicos_df = pd.read_excel('BaseServicos.xlsx').rename(columns={'Tempo Total de Contrato (Meses)': 'Tempo de Contrato'})

servicos_df

    Codigo do Servico  ID Funcionário  ID Cliente  Tempo de Contrato
0              OS0001              67           1                 14
1              OS0002              17           2                 12
2              OS0003             116           4                 14
3              OS0004              37           5                  8
4              OS0005             130           6                  8
..                ...             ...         ...                ...
232            OS0233             111         315                  4
233            OS0234             124         316                  8
234            OS0235              72         317                  6
235            OS0236              90         319                 14
236            OS0237              22         320                 12

[237 rows x 4 columns]

In [11]:
funcionarios_df['Salario Total'] = funcionarios_df['Salario Base'] + funcionarios_df['Impostos'] + funcionarios_df['Beneficios'] + funcionarios_df['VT'] + funcionarios_df['VR']
print('Total da folha salarial mensal é de R${:,}'.format(funcionarios_df["Salario Total"].sum()))

Total da folha salarial mensal é de R$2,717,493.22

In [34]:
servicos_df['Faturamento Total'] = clientes_df['Valor Contrato Mensal'] * servicos_df['Tempo de Contrato']
print('O faturamental total é de R${:,}'.format(servicos_df['Faturamento Total'].sum()))

O faturamental total é de R$5,628,330.0

In [67]:
funcionarios = set(servicos_df['ID Funcionário'])
vistos = set()
for id in funcionarios_df['ID Funcionário']:
    if id in funcionarios:
        vistos.add(id)

In [71]:
qtde_funcionarios_fecharam = len(servicos_df['ID Funcionário'].unique())
qtde_funcionarios_total = len(funcionarios_df['ID Funcionário'])
print('{}% dos funcionários fecharam serviços.'.format(qtde_funcionarios_fecharam / qtde_funcionarios_total))

0.868421052631579% dos funcionários fecharam serviços.